# Server & Storage Configuration
PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/fullstackCloudDB
IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key_here
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key_here
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_endpoint
