# Dependencies
node_modules/
**/node_modules/

# Environment variables & local configuration
.env
*.env
*.env.local

# Operating System files
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
